/* universal selector */
*{
    box-sizing: border-box;
    margin: 0;
}
/* universal selector */

/* body */
body{
    background: #eee;
    color: #555;
    font-size: 1.1rem;
}
/* body */

/* container */
.container{
    /* display: flex; */
}

.container>*{
    display: flex;
    flex-direction: column;
    float: left;
}


a{
    text-decoration: none;
}
/* container */

/* navbar */
#navbar{
    height: 100vh;
    /* position: fixed; */
    border-right: 5px solid #aaa;
    padding: 1rem;
    padding-left: 0;
    width: 25%;
    overflow: scroll;
}

header img{
    margin: 1rem 2rem;
    width: 14rem;
}

header h1{
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 0;
    padding: 1rem;
}

#navbar ul{
    width: 100%;
    padding: 0;
}

#navbar ul li {
    margin: 0.3rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0.3rem;
    padding-left: 0;
    padding-right: 0;
    border-top: 1px solid #555;
}

#navbar ul li a{
    margin: 1rem;
    padding:1rem ;
    color: #666;
    
}
/* navbar */

/* main-doc */
#main-doc{
    position: absolute;
    width: 75%;
    padding: 2rem;
    margin-left: 25%;
}

.main-section{
    margin-top: 1.5rem;
}

#Introduction{
    margin-top: 0;
}

header h3{
    margin-bottom: 1rem;
}

.code{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:#ddd;
    border-radius: 5px;
    /* padding: 0.5rem; */
}

h4{
    margin: 1rem;
}
table th{
    text-align: left;
}

#Reference a{
    color: #488;
    font-size: 1.2rem;
}

#Reference a:hover{
    text-decoration: underline;
    font-size: 1.22rem;
}
/* main-doc */

/* media query */
@media(max-width:900px){
    .container{
        display: block;
    } 

    #navbar{
        /* position: absolute; */
        /* width: 100%; */
        
        height: 10vh;
        /* position: fixed; */
        /* border-right: 5px solid #aaa; */
        /* padding: 1rem; */
        /* padding-left: 0; */
        width: 100%;
    }

    #main-doc{
        /* position: absolute; */
        /* width: 80%; */
        /* padding: 2rem; */
        /* margin-left: 25%; */
        /* background-color: yellow; */
        position: relative;
        width: 100%;
        padding: 2rem;
        margin-left: 0%;
    }
}
/* media query */